*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    scroll-behavior: smooth;
}
nav{
    width: 100%;
    height: 10vh;
    background-color: #e70022;
    padding: 0 100px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo h2{
    font-size: 45px;
    color: white;
}

.logo h2::first-letter{
    color: #12a8e0;
}

.navigation{
    width: 500px;
    height: 100%;
    
}
.navigation ul{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    list-style: none;
    
}
.navigation ul li{
    height: 100%;
    
}
.navigation li a{
    height: 100%;
    text-decoration: none;
    color: white;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 0.5s;
}

.active::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    bottom: 1px;
    left: 0;
    transition: 0.5s;
}


.content1{
    height: 75vh;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: #e9e9e9;
    color: white;
    padding: 100px;
}
.content1 h1{
    font-size: 60px;
    width:350px;
    margin-bottom: 20px;
}
.content1 p{
    font-size: 20px;
    width: 500px;
    margin-bottom: 50px;
}

.content1 a{
    background-color: white;
    color: #004fa2;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
}

.content1::before{
    content: "";
    width: 1500px;
    height: 1500px;
    background-color: #e8002b;
    position: absolute;
    top: -350px;
    left: -700px;
    z-index: -20;
    transform: rotateZ(-115deg);
    overflow: hidden;
}

.content1::after{
    content: "";
    width: 700px;
    height: 500px;
    background-image: url(../images/nike-background.png);
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 250px;
}
.content2{
    background-color: #171827;
    height: 60vh;
    padding: 0px 50px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content2-top{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
}

.content2-top::before{
    content: "";
    width: 500px;
    height: 2px;
    background-color: #fff7f7;
    position: absolute;
    top: 50%;
    left: -520px;
}

.content2-top::after{
    content: "";
    width: 500px;
    height: 2px;
    background-color: #ffffff;
    position: absolute;
    top: 50%;
    right: -520px;
}

.content2-bottom{
    width: 80%;
    height: 3px;
    background-color: #ffffff;
    position: absolute;
    bottom: 20px;
}

.new{
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}
.new div{
    width: 200px;
    height: 200px;
    background-color: #cccccc;
    border-radius: 10px;
    position: relative;
}

.new div::before{
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    background-image: url(../images/nike-red-shoes.png);
    background-size: cover;
}

.content3{
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #a51890;
    padding: 0 80px;
}

.content3 h2{
    color: white;
    font-size: 50px;
    width: 90%;
    float: left;
}

.about{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}
.about div{
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.about div img{
    width: 80px;
    height: 80px;
}
